<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="">
  <div class="container ">
    <div class="row">
      <div class="col">
        <!--Lo metimos dentro de una card-->
        <div class="card position-absolute top-50 start-50 translate-middle border-0 shadow-lg p-3 mb-5 bg-body rounded">
          <div class="card-body">
            <div style="text-align: center;">
              <!--Intentamos meter los estilos igualmente pero no agarraron-->
              <h1>Prueba de la componente cronometro</h1>
              <!--Colocamos titulo para el proytecto-->
              <app-cronometro [inicio]="0" (multiplo10)="actualizar($event)"></app-cronometro>
              <!--Va a iniciar desde 0 o puedes modificar si inicia desde el valor que tu gustes-->
              <h2>Evento</h2>
              <!--Mandamos a traer la variable con la interpolacion-->
              <h3>{{ mensaje }}</h3>
              </div>
              <!--Nota 
                - > Las paginas de angular son de una sola pagina se recarga automaticamente el valor-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>